* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #333;
}

.home-container {
	height: 100vh;
	display: flex;
}

/* .list {
	height: 90vh;
	padding: 1rem;
	background: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

.list ul {
	/* background: #fff; */
	padding: 0;
	/* border-radius: 2rem; */
	/* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3); */
	/* overflow: hidden; */
}

.list,
.details {
	height: 90vh;
	padding: 1rem;
	background: #fafafa;
}

.list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list li {
	background: #fff;
	list-style: none;
	font-size: 20px;
	padding: 1rem 2rem;
	margin-bottom: 10px;
	box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.list li:hover {
	background-color: #cfcfcf;
	color: #333;
}

.details-borrowedBy ul {
	list-style: none;
	padding: 0;
}

.nav-item {
	margin-left: 1rem;
	text-decoration: none;
	color: #333;
}

.nav-item .active {
	font-weight: bold;
}

.member-item {
}

.page-title {
	font-weight: normal;
	font-size: 40px;
	background: #fafafa;
	display: flex;
}
