a {
	text-decoration: none;
	color: #333;
}

.home-container {
	height: 100vh;
	background: #cfcfcf;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.member-list {
	background: #fff;
}

.member-list li {
	list-style: none;
	font-size: 30px;
}

.nav-item {
	margin-left: 1rem;
	text-decoration: none;
	color: #333;
}

.nav-item .active {
	font-weight: bold;
}

.member-item {
}

.page-title {
	font-weight: normal;
	font-size: 40px;
}
